<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>popup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="container" id="app">
        <div :class="{panels: true, [panel]: true}">
            <div class="panel basis">
                <header class="header">
                    <a href="#" class="title" @click="goWebstore">
                        <img :src="logo" width="20" height="20">
                        Bilibili 直播间录制器 {{manifest.version}}
                    </a>
                    <a href="#" class="feedback" @click="goGithub">反馈</a>
                </header>
                <section class="main">
                    <div class="btn startRecord" v-if="config.state === BEFORE_RECORD" @click="startRecord">
                        开始录制
                    </div>
                    <div class="btn stopRecord" v-if="config.state === RECORDING" @click="stopRecord">
                        停止录制
                    </div>
                    <div class="btn download" v-if="config.state === AFTER_RECORD" @click="startDownload">
                        下载视频
                    </div>
                </section>
                <section class="info">
                    <div class="record_config" v-if="config.state === BEFORE_RECORD">
                        <div class="item">
                            <div class="name">录制文件：</div>
                            <div class="value">
                                <input type="text" v-model="config.name" maxlength="50" placeholder="请输入文件名">
                            </div>
                        </div>
                        <div class="item">
                            <div class="name">录制时长：{{config.maxDuration}}分钟</div>
                            <div class="value">
                                <input type="range" v-model="config.maxDuration" min="5" max="60" step="5">
                            </div>
                        </div>
                    </div>
                    <div class="record_info" v-if="config.state === RECORDING || config.state === AFTER_RECORD">
                        <div class="item">
                            <div class="name">录制文件：</div>
                            <div class="value" :title="fileUrl">{{fileUrl}}</div>
                        </div>
                        <div class="item">
                            <div class="sub_item">
                                <div class="name">录制时长：</div>
                                <div class="value">{{config.maxDuration}}分钟</div>
                            </div>
                            <div class="sub_item">
                                <div class="name">当前时长：</div>
                                <div class="value">{{config.currentDuration}}分钟</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="sub_item">
                                <div class="name">当前大小：</div>
                                <div class="value">{{config.currentSize}}M</div>
                            </div>
                            <div class="sub_item">
                                <div class="name">分段大小：</div>
                                <div class="value">{{config.chunk}}M</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="sub_item">
                                <div class="name">下载速率：</div>
                                <div class="value">{{config.downloadRate}}M/S</div>
                            </div>
                            <div class="sub_item">
                                <div class="name">写入速率：</div>
                                <div class="value">{{config.writeRate}}M/S</div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="footer" @click="showPanel('panel_advanced')">
                    ↓高级设置↓
                </footer>
            </div>
            <div class="panel advanced">
                <header class="header" @click="showPanel('panel_basis')">
                    ↑基础设置↑
                </header>
                <section class="main">
                    <div class="item">
                        <div class="name">文件类型：</div>
                        <div class="value">
                            <select v-model="config.format" :disabled="config.state !== BEFORE_RECORD">
                                <option value="flv" selected>FLV</option>
                                <option value="mp4" disabled>MP4 - 即将发布</option>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div class="name">分段保存：{{config.chunk}}M</div>
                        <div class="value">
                            <input type="range" v-model="config.chunk" min="0" max="1000" step="100"
                                :disabled="config.state !== BEFORE_RECORD">
                        </div>
                    </div>
                    <div class="item">
                        <div class="name">Debug日志：<a href="#" class="openDebug" @click="openDebug">打开</a></div>
                        <div class="value">
                            <textarea cols="30" disabled v-model="config.debug"
                                placeholder="遇到疑难杂症时可以把Debug日志发给作者。"></textarea>
                        </div>
                    </div>
                </section>
                <footer class="footer">
                    <img :src="donate">
                </footer>
            </div>
        </div>
    </div>
    <script src="./index.js"></script>
</body>

</html>
