$color: #23ade5;

.bilibili-live-recorder {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    display: flex;
    position: fixed;
    z-index: 9999;
    top: 100px;
    right: 100px;
    width: 180px;
    height: 60px;
    border-radius: 60px;
    overflow: hidden;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px 0 rgba(0, 85, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.85);

    .blr-states {
        display: flex;
        width: 60px;
        height: 100%;
        font-size: 12px;
        padding: 5px;
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

        .blr-state {
            display: none;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            cursor: pointer;
            border-radius: 50%;
            transition: all 0.2s ease;
            transform: scale3d(1, 1, 1);

            &.blr-active {
                display: flex;
            }

            &:hover {
                transform: scale3d(1.1, 1.1, 1.1);
            }

            &:active {
                transform: scale3d(0.9, 0.9, 0.9);
            }

            &.blr-state-before-record {
                background-image: linear-gradient(0deg, #be1974, #ff1c68);
                border: 5px solid rgba(103, 10, 57, 0.8);
            }

            &.blr-state-recording {
                background-image: linear-gradient(0deg, #be1974, #ff1c68);
                border: 5px solid rgba(103, 10, 57, 0.8);
            }

            &.blr-state-after-record {
                background-image: linear-gradient(0deg, #007b94, #01b5da);
                border: 5px solid rgba(0, 65, 78, 0.8);
            }
        }
    }

    .blr-monitor {
        display: flex;
        flex-direction: column;
        flex: 1;
        font-size: 13px;
        letter-spacing: 1px;
        padding: 4px 5px 4px 0;
        color: rgba(255, 255, 255, 0.7);
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

        .blr-monitor-top {
            display: flex;
            align-items: center;
            flex: 1;
            padding: 0 5px;
            line-height: 1;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        .blr-monitor-bottom {
            display: flex;
            align-items: center;
            flex: 1;
            padding: 0 5px;
            line-height: 1;
        }
    }
}
